{% extends "inicio/layout.html" %}

{% load static %}

{% block titulo %}
Quien somos{% endblock %}

{% block contenido %}
<div class="text text-center">
    <h3>¿Quienes somos?</h3>
</div>
<p class="text text-center">El proyecto "BiciTour" se enfoca en el desarrollo de un sistema web para organizar
    recorridos en bicicleta a lo largo de México, principalmente en zonas turísticas. 
    Este sistema permitirá a los usuarios consultar y preinscribirse en recorridos, 
    mientras que el administrador podrá gestionar la información relacionada con 
    dichos recorridos.
</p>


{% endblock %}