/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Playfair+Display:wght@700&family=Roboto:wght@500&family=Montserrat:wght@500&display=swap');

body {
    background-color: #d5d9de !important; 
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

/* Navegación superior */
.top-nav {
    display: flex;
    align-items: center;
    background-color: #5271FF;
    padding: 10px 20px;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #FFFFFF;
    flex-grow: 1; /* Permite que el logo ocupe el espacio disponible */
}

/* Estilo para el formulario de búsqueda */
.top-nav form {
    display: flex;
    max-width: 400px;
    margin: 0 20px; /* Espacio a los lados del formulario */
}

.top-nav .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.top-nav .btn-outline-success {
    border: 1px solid #82E800;
    color: #82E800;
}

.top-nav .btn-outline-success:hover {
    background-color: #82E800;
    color: #ffffff;
}

.auth-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.auth-buttons button {
    background-color: #82E800;
    border: none;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.auth-buttons button:hover {
    background-color: #66B200;
}

/* Navegación principal */
.main-nav {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-bottom: 1px solid #d1d1d1; /* Añadido para una línea de separación sutil */
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos verticalmente */
    margin: 0;
    padding: 0;
}

.main-nav li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.main-nav .dropdown {
    position: relative;
}

.main-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 4px; /* Añadido para bordes redondeados */
    padding: 10px 0; /* Añadido para separar los elementos del borde */
}

.main-nav .dropdown:hover .dropdown-content {
    display: block;
}

.main-nav .dropdown-content a {
    padding: 12px 16px;
    color: #000000;
    text-decoration: none;
    display: block;
}

.main-nav .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 4px; /* Añadido para bordes redondeados en los elementos */
}

/* Opcional: Cambiar el color del enlace en el menú desplegable */
.main-nav .dropdown .dropbtn {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Ajustes para el contenido principal */
form {
    margin: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card-img-top.ruta-imagen {
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
}
